body{
    font-family: sans-serif;
    width: 1200px;
}

.header{
    background-color: chocolate;
}

.servicios{
    background-color: rgb(84, 30, 210);
}
.noticias{

}

.miembros{

}

.footer{
    
}

